<div class="jumbotron div_bg_light">
  <% @current_user_events.each do |event| %>

  <div style="float: right">
  <%= link_to "delete", event, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>

  <div>
    <p><%= event.title %></p>
    <p><%= event.date %></p>
    <p><%= event.location %></p>
    <p><%= event.description %></p>
  </div>
  <% end %>
</div>
