<% provide(:title, "Events List") %>
<h1>Life Happens Now - Be In It.</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div style="background-color: #aaf">
<% unless @results.nil? %>
  <% @results["events"]["event"].each do |event| %>
  <div style="background-color: #fff">
    
    <div style="float: right">
    <%= form_for(:event, url: events_path) do |f| %>
      <%= f.hidden_field :title, value: event["title"] %>
      <%= f.hidden_field :venue_id, value: event["id"] %>
      <%= f.hidden_field :location, value: event["region_name"] %>
      <%= f.hidden_field :date, value: event["start_time"] %>
      <%= f.hidden_field :description, value: event["description"] %>
      <%= f.submit "Add to Favorites" %>
    <% end %>
    </div>

    <p><%= event["image"].nil? ? image_tag("http://i.imgur.com/HON6vfYs.jpg") : image_tag(event["image"]["medium"]["url"]) %></p>
    <p><%= event["title"].nil? ? "N/A" : event["title"] %></p>
    <p><%= event["venue_address"].nil? ? "N/A" : event["venue_address"] %></p>
    <p><%= event["city_name"].nil? ? "N/A" : event["city_name"] %></p>
    <p><%= event["region_name"].nil? ? "N/A" : event["region_name"] %></p>
    <p><%= event["start_time"].nil? ? "N/A" : event["start_time"] %></p>
    <p><%= event["venue_name"].nil? ? "N/A" : event["venue_name"] %></p>
    <p><%= event["description"].nil? ? "N/A" : event["description"] %></p>
  </div>
  <% end %>
<% end %>
</div>